VITE_SUPABASE_URL=https://vlbvnzfsxpzknpnkefsn.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InZsYnZuemZzeHB6a25wbmtlZnNuIiwicm9sZSI6ImFub24iLCJpYXQiOjE3OTEwMjIwMDksImV4cCI6MjEwNjU5ODAwOX0.u2bZjm29yC6zs7-j0mzK6g04wHZZZEB6JAKDbUxhSnA
